@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface-container-lowest text-on-surface font-sans antialiased;
    overscroll-behavior-y: none;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface/70 backdrop-blur-[20px];
  }
  .ghost-border {
    @apply border border-outline-variant/20;
  }
  .ghost-border-b {
    @apply border-b border-outline-variant/20;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
